{% extends 'base.html' %}

{% block conteudo %}
<h1>Bem-vindo ao EmprestaFácil</h1>
<div class="border">
  <form method="POST" action="{{ url_for('confirmar_emprestimo') }}">
    {{ form.hidden_tag() }}
    <div class="mt-3 ml-3 mr-3">
      <p>De quanto você precisa?</p>

      <div class="row">
        <div class="col-4">
          <div class="form-group">
            {{ form.valor.label(class="form-control-label") }}
            {% if form.valor.errors %}
            {{ form.valor(class="form-control form-control-md is-invalid", placeholder="Min: R$ 1000 Max: R$ 20000")}}
            <div class="invalid-feedback">
              {% for error in form.valor.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.valor(class="form-control form-control-md", placeholder="Min: R$ 1000.00 Max:R$ 20000.00") }}
            {% endif %}
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            {{ form.parcelas.label(class="form-control-label") }}
            {% if form.parcelas.errors %}
            {{ form.parcelas(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.parcelas.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.parcelas(class="form-control form-control-md") }}
            {% endif %}
          </div>
        </div>
        <div class="col-4">
          {{ form.salario.label(class="form-control-label") }}
          {% if form.salario.errors %}
          {{ form.salario(class="form-control form-control-md is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.salario.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
            {% if current_user.is_authenticated %}
              {{ form.salario(class="form-control form-control-md", value=current_user.salario) }}
            {% else %}
              {{ form.salario(class="form-control form-control-md") }}
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="mb-3">
        {{ form.submit(class="btn btn-info")}}
      </div>
    </div>
  </form>

{% endblock %}