{% extends 'base.html' %}

{% block conteudo %}
<h1>Bem-Vindo(a)!</h1>
<div class="border">
    <div class="m-3">
        <h3>Que bom ter você de volta! O que deseja fazer?</h3>
        <ul class="list-unstyled">
            <li class="mb-3 mt-3">
                <a href="{{ url_for('emprestimo') }}">Novo empréstimo</a>
            </li>
            <li>
                <a href="{{ url_for('detalhes_emprestimos') }}">Detalhamento de seus empréstimos</a>
            </li>
    </div>
</div>
<div class="border mt-3">
    <div class="m-3">
        <h3>Ofertas especiais para você</h3>
    </div>
    <div class="mt-3">
        {% for oferta in ofertas %}
        <form action="{{ url_for('confirmar_emprestimo', valor=oferta['valor'], parcelas=oferta['parcelas'], salario=current_user.salario) }}" method="POST">
            <div class="card m-3" style="width: 100%;">
                <div class="card-header">
                    {{ oferta['titulo'] }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ "R$%.2f"|format(oferta['valor']) }}</h5>
                    <p class="card-text">Em {{ oferta['parcelas'] }}x!</p>
                    <input type="submit" name="submit_btn" value="Pedir" class="btn btn-outline-info">
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
</div>

{% endblock %}